<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>利明音乐</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./css/iconfont.css" />
  <link rel="stylesheet" href="./css/comment.css">
  <link rel="stylesheet" href="./css/player.css">
  <link rel="stylesheet" href="./css/results.css" />
  <link rel="stylesheet" href="./css/video.css">
  <style>
    body {
      background: linear-gradient(65deg, skyblue, red)
    }
  </style>
</head>

<body>
  <div id="player">
    <h2 class="title" style="color: wheat">江华音乐</h2>
    <div class="search">
      <input type="text" v-model="searchList" @keyup.enter="getList()" />
      <button>
        <span class="iconfont icon-search" @click="getList()"></span>
      </button>
    </div>
    <div class="tab-wrapper">
      <!-- tab栏 -->
      <div class="tab-bar">
        <router-link class="bar-item" active-class="active" to="/result">搜索结果</router-link>
        <router-link class="bar-item" active-class="active" to="/player">歌曲播放</router-link>
        <router-link class="bar-item" active-class="active" to="/mv">mv</router-link>
        <router-link class="bar-item" active-class="active" to="/comment">歌曲评论</router-link>
      </div>
      <!-- 对应的内容区域 -->
      <div class="tab-content">
        <router-view :downsearch="downsearch"></router-view>
      </div>
    </div>
  </div>

  <!-- 编写模板 -->
  <!-- 1. 显示歌曲列表 -->
  <template id="Result">
    <div>
      <div class="result-wrapper">
        <div class="song" v-for="(ele, index) in lists" :key="ele.id"
          @click="singSong(ele.id,ele.name,ele.artists[0].name)">
          <div class="name">
            <span class="iconfont icon-play"></span>
            {{ele.name}}
            <span class="iconfont icon-editmedia" v-if="ele.mvid? true:false"
              @click.stop="singmv(ele.mvid,ele.name,ele.artists[0].name)"></span>
          </div>
          <div class="singer">{{ele.artists[0].name | f_name(ele.artists[0].name)}}</div>
          <div class="album">{{ele.name}}</div>
          <div class="time">{{ele.duration}}</div>
        </div>
      </div>
    </div>
  </template>
  <!-- 2. 歌曲播放 -->
  <template id="Player">
    <div>
      <div class="player">
        <div class="left">
          <img class='disc' src="./img/disc.png" alt="">
          <img class='cover' src="./img/cover.png" alt="">
        </div>
        <div class="right">
          <div class="title"><img src="./img/tag.png" alt=""><span>{{name}}</span> </div>
          <div class="singer">歌手: <span>{{singer}}</span></div>
          <div class="album">所属专辑: <span>{{fromsing}}</span></div>
          <audio class='audio' controls loop autoplay :src="url"></audio>
          <ul class='lyric-container'>
            <li class='lyric'>难以忘记</li>
            <li class='lyric'>初次见你</li>
            <li class='lyric'>那双迷人的小眼睛</li>
          </ul>
        </div>
      </div>
    </div>
  </template>
  <!-- 3. MV -->
  <template id="MV">
    <div>
      <div class="video">
        <div class="title-wrapper">
          <span class='tag'>MV</span>
          <span class='title'>{{name}}</span>
          <span class='artist'>{{singer}}</span>
        </div>
        <video style="width: 100%" controls autoplay loop :src="url"></video>
      </div>
    </div>
  </template>
  <!-- 2. 评论 -->
  <template id="Comment">
    <div>
      <div class="comment-wrapper">
        <div class="items">
          <div class="item">
            <div class="left">
              <img src="./img/icon.jpg" alt="">
            </div>
            <div class="right">
              <div class="top">
                <span class='user'>林俊杰:</span>
                <span
                  class='content'>你们夫妻两个唱的<<她说>>,真的比我唱的都好听!! 还让我怎么活!!!</span>
              </div>
              <div class="bottom">
                <div class="time">2019年7月19日</div>
                <div class="like-wrapper">
                  <span>👍</span>(666)
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <img src="./img/icon.jpg" alt="">
            </div>
            <div class="right">
              <div class="top">
                <span class='user'>bigbang:</span>
                <span
                  class='content'>江华 :  从此以后,我选择退出! 祝福你们两个!</span>
              </div>
              <div class="bottom">
                <div class="time">2019年9月17日</div>
                <div class="like-wrapper">
                  <span>👍</span>(9999)
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="left">
              <img src="./img/icon.jpg" alt="">
            </div>
            <div class="right">
              <div class="top">
                <span class='user'>迪迦奥特曼:</span>
                <span
                  class='content'>从此以后由我来保护你们两个</span>
              </div>
              <div class="bottom">
                <div class="time">2019年9月16日</div>
                <div class="like-wrapper">
                  <span>👍</span>(6666)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </template>
  <!-- 编写模板 -->
</body>

<script src="./lib/vue.js"></script>
<script src="./lib/vue-router.js"></script>
<script src="./lib/axios.js"></script>
<script>
  /*************编写模板对象************************/

  // 1. result模板对象
  let Result = {
    template: '#Result',
    data() {
      return {
        lists: [],
      }
    },
    props: ['downsearch'],
    methods: {
      // 1.获取搜索的歌曲
      async getSongLists(name) {
        if (!name) {
          if (!this.downsearch) {
            name = '她说'
          } else {
            name = this.downsearch
          }
        }
        let backData = await axios.get(`https://autumnfish.cn/search?keywords=${name}`)
        this.lists = backData.data.result.songs;
      },
      // 2. 跳转到播放组件播放歌曲
      singSong(id, name, singer) {
        // 跳转到播放组件
        this.$router.push('/player?id=' + id + '&name=' + name + '&singer=' + singer)
      },
      // 3. 跳转到MV组件播放歌曲
      singmv(id, name, singer) {
        // 跳转到播放组件
        this.$router.push('/mv?id=' + id + '&name=' + name + '&singer=' + singer)
      }

    },
    created() {
      // 1.获取搜索的歌曲
      this.getSongLists()
    },
    filters: {
      f_name(name) {
        return name
      },
    },
    watch: {
      downsearch() {
        // 1.获取搜索的歌曲
        this.getSongLists(this.downsearch) 
      }
    },
  }

  // 2. Player模板对象
  let Player = {
    template: '#Player',
    data() {
      return {
        name: '她说',
        singer: '龚利明/江华',
        fromsing: '玉林/长汀',
        url: '',
        geci:[]
      }
    },
    methods: {
      // 1. 播放歌曲
      async playSong() {
        // 1.1 判断是否是第一次点进去
        if (!this.$route.query.id) {
          // 1.1.1 获取音乐url信息
          let backData = await axios.get('https://autumnfish.cn/song/url?id=108242');
          // 1.1.2 获取歌词
          let gecibackdata = await axios.get('https://autumnfish.cn/lyric?id=108242');
          // 1.1.2 获取url
          this.url = backData.data.data[0].url
          console.log(gecibackdata);
          
          return;
        }
        // 1.2 显示歌曲信息
        this.name = this.$route.query.name;
        this.singer = this.$route.query.singer;
        this.fromsing = '龚利明';

        // 1.3 获取音乐信息
        let backData = await axios.get('https://autumnfish.cn/song/url?id=' + this.$route.query.id);
        // 1.4 获取url
        this.url = backData.data.data[0].url
      }
    },
    created() {
      // 播放歌曲
      this.playSong()
    },
  }

  // 1. MV模板对象
  let MV = {
    template: '#MV',
    data() {
      return {
        name: '纸角边',
        singer: '龚利明',
        url: '',
        oddurl: 'http://vodkgeyttp8.vod.126.net/cloudmusic/IGQwMDQwIDVkICBgNDQhIA==/mv/376199/5508b93dd0abdefe41ce48d54540aca6.mp4?wsSecret=b32ada92a9bf98a82acfffeed1259601&wsTime=1563529598'
      }
    },
    methods: {
      // 1. 播放歌曲
      async playSong() {
        // 1.1 判断是否是第一次点进去
        if (!this.$route.query.id) {

          // 1.1.1 获取音乐信息
          let backData = await axios.get('https://autumnfish.cn/mv/detail?mvid=28219');

          // // 1.1.2 获取url
          this.url = backData.data.data.brs[480] ? backData.data.data.brs[480] : backData.data.data.brs[240]
          return;
        }
        // 1.2 显示歌曲信息
        this.name = this.$route.query.name;
        this.singer = this.$route.query.singer;

        // 1.3 获取音乐信息
        let backData = await axios.get('https://autumnfish.cn/mv/detail?mvid=' + this.$route.query.id);

        // 1.4 获取url
        this.url = backData.data.data.brs[480] ? backData.data.data.brs[480] : backData.data.data.brs[240]
      }
    },
    created() {
      // 播放歌曲
      this.playSong()
    },

  }

  // 1. Comment模板对象
  let Comment = {
    template: '#Comment'
  }

  /*************编写模板对象************************/
  /*************vm实例对象部分************************/

  // 1. 创建路由 
  const router = new VueRouter({
    routes: [{
        path: '/result',
        component: Result
      },
      {
        path: '/player',
        component: Player
      },
      {
        path: '/mv',
        component: MV
      },
      {
        path: '/comment',
        component: Comment
      },
      {
        path: '/',
        redirect: '/result'
      }
    ]
  })

  // 2. 创建vm实例对象
  let vm = new Vue({
    el: '#player',
    data() {
      return {
        searchList: '',
        downsearch: ''
      }
    },
    methods: {
      // 1. 获取信息
      getList() {
        // 1.1 将向下传递的数据赋值
        this.downsearch = this.searchList
        // 1.2 子组件跳转到result模块
        this.$router.push('/result')
      }
    },
    router

  })
  /*************vm实例对象部分************************/
</script>

</html>